<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://jax-ws.dev.java.net/spring/core
    http://jax-ws.dev.java.net/spring/core.xsd
    http://jax-ws.dev.java.net/spring/servlet
    http://jax-ws.dev.java.net/spring/servlet.xsd">

	<bean id="interceptor"	class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="LoginBO" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="loginbo" />
		<property name="interceptorNames">
			<list>
				<value>interceptor</value>
			</list>
		</property>
	</bean>

	<bean id="daoSupport" class="com.dao.common.DAOSupport">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="hibernateTemplate" class="com.services.persistence.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="loginbo" class="com.bo.login.LoginBO">
		<property name="logindao" ref="logindao"></property>
	</bean>

	<bean id="logindao" parent="daoSupport" class="com.dao.login.LoginDAO"></bean>

	<bean id="httpSessionHandler" class="com.services.session.HttpSessionHandler"></bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test" />
		<property name="properties">
			<props>
				<prop key="c3p0.acquire_increment">2</prop>
				<prop key="c3p0.idle_test_period">3000</prop>
				<prop key="c3p0.max_size">25</prop>
				<prop key="c3p0.max_statements">0</prop>
				<prop key="c3p0.min_size">2</prop>
				<prop key="user">root</prop>
				<prop key="password">root</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>listing_mapping.hbm.xml</value>
			</list>
		</property>
	</bean>

</beans>


