<div style="border:3px solid; height:650px;">
  <div style="width:1170px; height:50px;">
      <button style="float:right; margin-top:10px; margin-right:100px;" type="button" class="btn btn-primary" ng-click="redirectTo('add-edit-invoice');">Add New Invoice</button>
  </div>
  <div style="margin-top:30px; padding-left:10px;">
    <h3>Invoice List</h3>
    <table class="table table-hover">
      <tr ng-repeat="invoice in invoiceList">
        <td>{{invoice.customerId}}</td>
        <td>{{invoice.customerName}}</td>
        <td>{{invoice.contactNumber}}</td>
        <td><button type="button" class="btn btn-success" ng-click="showInvoice(invoice.id);">Show Details</button></td>
      </tr>
    </table>
  </div>
</div>
